.header {
    background-color: #3498db;
    padding: 15px;
    width: 100%;
    height: 95px;
}

.headerContent {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navbar {
    padding: 1rem;
}

.menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    position: relative;
}

.menu li {
    position: relative;
}

.menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}

.dropdownMenu {
    display: none;
    position: absolute;
    top: 100%; /* justo debajo del menú */
    left: 0;
    background-color: #ffffff;
    padding: 0.5rem 0;
    min-width: 180px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.dropdownMenu li a {
    display: block;
    padding: 0.5rem 1rem;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid #CAC4D0;
}

.dropdownMenu li:last-child {
  border-bottom: none; 
  padding: 0.5rem 1rem;
}

.dropdown:hover .dropdownMenu {
    display: block;
}

body {
    margin: 0;
}